<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Statut</th>
                    <th>Date Echence</th>
                    <th>Date Création</th>
                    <th>Projet</th>
                    <th>Image</th>
                </tr>
                <tbody *ngFor="let tache of taches">
                    <tr>
                        <td>{{tache.idTache}}</td>
                        <td>{{tache.nomTache}}</td>
                        <td>{{tache.description}}</td>
                        <td>{{tache.statut}}</td>
                        <td>{{tache.dateEcheance | date:'dd/MM/yyyy'}}</td>
                        <td>{{tache.dateCreation | date:'dd/MM/yyyy'}}</td>
                        <td>{{tache.projet?.nomProjet}}</td>
                        <td><img class="card-img-top img-responsive" src = "{{tache.imageStr}}" 
                                style="height :50px;width:100px">
                        </td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-danger"
                                (click)="supprimerTache(tache)">Supprimer</a></td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-warning"
                                [routerLink]="['/updateTache', tache.idTache]">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>